:host {
  display: flex;
  align-items: center;
  flex-direction: row;
  background-color: rgba(255, 200, 200, .25);
  border-radius: 1em;
  margin: .25em;
  padding: .25em;

}

td {
  text-align: center;
}

h3 {
  writing-mode: vertical-lr;
  margin: 0;
}
