@import "src/variables";

:host {
  background-color: rgba($gray, .2);
  border-radius: .5em;
  padding: .5em;
}

h2 {
  margin: 0;
}

.mass-service {
  display: flex;
  flex-direction: column;
  flex: 1;
}
