@import "src/variables";

:host {
  ::ng-deep mat-expansion-panel-header {
    height: auto;
    padding: .5em;
  }
  ::ng-deep .mat-expansion-panel-body {
    @media (max-width: $smWidth) {
      padding: 0 .25em .15em;

      &.mat-expanded {
        padding: 0 .5em .15em;

      }
    }
  }
}

h3 {
  margin-bottom: .5em;
  border-bottom: 1px solid black;
}

.part-content {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;

  app-mass-services {
    flex: 1 1 20em
  }
}

.description {
  flex: 2;
  @media (max-width: $smWidth) {
    display: none;
  }
}

.icons {
  display: flex;
  flex-direction: row;
  flex: 1;
  flex-wrap: wrap;
}

mat-panel-title {
  font-weight: 500;
  flex-grow: .5;

  @media (max-width: $smWidth) {
    flex-grow: 2;
  }
  &.first-level {
    font-weight: bolder;
  }
  &.second-level {
    font-weight: 500;
  }
  &.third-level {
    font-weight: normal;
  }
}
.mat-expansion-panel-header.mat-expanded {
  height: auto;
}
