<div [formGroup]="filterForm">
  <mat-form-field>
    <mat-label>Tipo de misa</mat-label>
    <mat-select formControlName="type">
      <mat-option *ngFor="let massType of massTypes" [value]="massType">
        {{massType}}
      </mat-option>
    </mat-select>
  </mat-form-field>
  <mat-form-field>
    <mat-label>Rol</mat-label>
    <mat-select formControlName="role">
      <mat-option *ngFor="let massRole of massRoles" [value]="massRole">
        {{massRole.name}}
      </mat-option>
      <mat-option [value]="null">
        NA
      </mat-option>
    </mat-select>
  </mat-form-field>
</div>

<mat-accordion multi>
  <ng-container *ngFor="let massPart of massParts">

    <mat-expansion-panel *ngIf="hasMassServices(massPart)" [expanded]="true">
      <mat-expansion-panel-header>
        <mat-panel-title>
          {{massPart.name}}
        </mat-panel-title>
        <mat-panel-description>
          {{massPart.description}}
        </mat-panel-description>
      </mat-expansion-panel-header>

      <ng-container *ngFor="let massPart of massPart.parts">
        <mat-expansion-panel *ngIf="hasMassServices(massPart)"
                             [expanded]="massPart.parts?.length"
                             [disabled]="!massPart.massServices?.length">
          <mat-expansion-panel-header>
            <mat-panel-title>
              {{massPart.name}}
            </mat-panel-title>
            <mat-panel-description>
              {{massPart.description}}

              <app-mass-service-icon
                *ngFor="let massService of massPart.massServices"
                [massRole]="massService.massRole"></app-mass-service-icon>
            </mat-panel-description>
          </mat-expansion-panel-header>

          <div class="part-content">
            <app-mass-services [massServices]="massPart.massServices"></app-mass-services>
            <app-mass-procession *ngIf="massPart.processionOrder?.length"
                                 [processionOrder]="massPart.processionOrder">
            </app-mass-procession>

          </div>


          <ng-container *ngFor="let massPart of massPart.parts">
            <mat-expansion-panel *ngIf="hasMassServices(massPart)"
                                 [expanded]="massPart.parts?.length"
                                 [disabled]="!massPart.massServices?.length">
              <mat-expansion-panel-header>
                <mat-panel-title>
                  {{massPart.name}}
                </mat-panel-title>
                <mat-panel-description>
                  {{massPart.description}}
                </mat-panel-description>
                <app-mass-service-icon
                  *ngFor="let massService of massPart.massServices"
                  [massRole]="massService.massRole"></app-mass-service-icon>
              </mat-expansion-panel-header>

              <h3 *ngIf="massPart.massServices?.length">Servicios</h3>
              <app-mass-service *ngFor="let massService of massPart.massServices"
                                [massService]="massService"></app-mass-service>

            </mat-expansion-panel>
          </ng-container>
        </mat-expansion-panel>
      </ng-container>
    </mat-expansion-panel>
  </ng-container>
</mat-accordion>
<router-outlet></router-outlet>
