<div [formGroup]="filterForm">
  <mat-form-field>
    <mat-label>Tipo de misa</mat-label>
    <mat-select formControlName="type">
      <mat-option *ngFor="let massType of massTypes" [value]="massType">
        {{ massType }}
      </mat-option>
    </mat-select>
  </mat-form-field>
  <mat-form-field>
    <mat-label>Rol</mat-label>
    <mat-select formControlName="role">
      <mat-option *ngFor="let massRole of massRoles" [value]="massRole">
        {{ massRole.name }}
      </mat-option>
      <mat-option [value]="null">
        NA
      </mat-option>
    </mat-select>
  </mat-form-field>
  <mat-checkbox formControlName="showProcession">
    <mat-label>Mostrar procesiones</mat-label>
  </mat-checkbox>
  <button mat-button (click)="openAll()">
    Expandir todo
  </button>
</div>

<mat-accordion multi #accordions="matAccordion">
  <ng-container *ngFor="let massPart of massParts">

    <mat-expansion-panel [disabled]="!hasMassServices(massPart)" [expanded]="true">
      <mat-expansion-panel-header>
        <mat-panel-title class="first-level">
          {{ massPart.name }}
        </mat-panel-title>
        <mat-panel-description>
          {{ massPart.description }}
        </mat-panel-description>
      </mat-expansion-panel-header>

      <mat-accordion multi #accordions="matAccordion"  *ngFor="let massPart of massPart.parts">
        <mat-expansion-panel [disabled]="!hasMassServices(massPart)"
                             [expanded]="!!massPart.parts?.length">
          <mat-expansion-panel-header>
            <mat-panel-title class="second-level">
              {{ massPart.name }}
            </mat-panel-title>
            <mat-panel-description>
              <div class="description">
                {{ massPart.description }}
              </div>
              <div class="icons">
                <app-mass-service-icon
                  *ngFor="let massService of massPart.massServices"
                  [massRole]="massService.massRole"></app-mass-service-icon>
              </div>
            </mat-panel-description>
          </mat-expansion-panel-header>

          <div class="part-content">
            <app-mass-services *ngIf="massPart.massServices?.length"
                               [selectedRole]="filterForm.get('role')?.value"
                               [massServices]="massPart.massServices"></app-mass-services>
            <app-mass-procession *ngIf="massPart.processionOrder?.length && filterForm.get('showProcession')?.value"
                                 [processionOrder]="massPart.processionOrder">
            </app-mass-procession>
          </div>


          <mat-accordion multi #accordions="matAccordion">
            <mat-expansion-panel *ngFor="let massPart of massPart.parts"
                                 [disabled]="!hasMassServices(massPart)">
              <mat-expansion-panel-header>
                <mat-panel-title  class="third-level">
                  {{ massPart.name }}
                </mat-panel-title>
                <mat-panel-description>
                  {{ massPart.description }}
                </mat-panel-description>
                <app-mass-service-icon
                  *ngFor="let massService of massPart.massServices"
                  [massRole]="massService.massRole"></app-mass-service-icon>
              </mat-expansion-panel-header>

              <div class="part-content">
                <app-mass-services *ngIf="massPart.massServices?.length"
                                   [massServices]="massPart.massServices"></app-mass-services>
                <app-mass-procession *ngIf="massPart.processionOrder?.length"
                                     [processionOrder]="massPart.processionOrder">
                </app-mass-procession>
              </div>
            </mat-expansion-panel>
          </mat-accordion>
        </mat-expansion-panel>
      </mat-accordion>
    </mat-expansion-panel>
  </ng-container>
</mat-accordion>
<router-outlet></router-outlet>
