@import "src/variables";

a {
  color: white !important;
  text-decoration: none;
  flex: 1 1 auto;
  padding: .25em;
  @include animate();

  &:hover, &.active {
    border-bottom: 2px solid white;
    box-sizing: border-box;
  }

  ::ng-deep .mdc-list-item__primary-text {
    display: flex;
    align-items: center;
  }

  span {
    text-wrap: auto;
    line-height: .9em;
  }

}

