
<a mat-list-item routerLink="/mass" (click)="selected.emit()"
   routerLinkActive="active"
   [routerLinkActiveOptions]="{exact: true}">
  <mat-icon>menu_book</mat-icon>
  <span>Partes de la Misa</span>
</a>
<a mat-list-item routerLink="/biblia" (click)="selected.emit()"
   routerLinkActive="active"
   [routerLinkActiveOptions]="{exact: true}">
  <mat-icon>book</mat-icon>
  <span>Biblia</span>
</a>
<a mat-list-item routerLink="/" (click)="selected.emit()"
   routerLinkActive="active"
   [routerLinkActiveOptions]="{exact: true}">
  <mat-icon>highlight</mat-icon>
  <span>Objetos litúrgicos</span>
</a>
