<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport="true"
    [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
    [mode]="(isHandset$ | async) ? 'over' : 'side'"
    [opened]="false">
    <mat-toolbar>
      <a class="title" routerLink="/"
         routerLinkActive="active"
         [routerLinkActiveOptions]="{exact: true}"
         (click)="close()">
        Symbolum.net
      </a>
    </mat-toolbar>
    <mat-nav-list>
      @if (isHandset$ | async) {
        <app-nav-pages (selected)="close()"></app-nav-pages>
      }
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar class="top-bar" color="primary">
      @if (isHandset$ | async) {
        <button
          type="button"
          aria-label="Toggle sidenav"
          mat-icon-button
          (click)="drawer.toggle()"
          >
          <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
        </button>
      }


      <a class="title" routerLink="/"
        routerLinkActive="active"
        [routerLinkActiveOptions]="{exact: true}">
        Symbolum.net
      </a>
      <div class="spacer"></div>

      @if (!(isHandset$ | async)) {
        <app-nav-pages></app-nav-pages>
      }

      <div class="spacer"></div>

    </mat-toolbar>
    <div class="content">
      <router-outlet></router-outlet>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
