@import '../../../../../variables';

:host {
  display: flex;
  flex-direction: column;
  border-bottom: 1px solid rgba($gray, .5);
}

.role-name {
  flex: 1;
  font-weight: bold;
  margin-right: .25em;
}

.description {
  flex: 5;
}
