@import '../../../../../variables';

:host {
  display: flex;
  flex-direction: column;
  border-bottom: 1px solid rgba($gray, .5);
  padding: .5em;

  @media (max-width: $smWidth) {
    padding: .25em;
  }
}

.role-name {
  display: flex;
  flex: 1;
  font-weight: bold;
  margin-right: .25em;
  text-align: center;
  align-items: center;
  background-color: rgba($gray, .25);
  padding: .25em;
  margin-bottom: .25em;
  border-radius: .5em;

  app-mass-service-icon {
    margin-right: .5em;
  }
}

.description {
  flex: 5;
}

.instructions {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;

  > .instruction {
    display: flex;
    align-items: center;
    flex: 1 1 25em;
    border: 1px solid rgba($gray, .5);
    border-radius: 1em;
    margin: .5em 0;
  }

  .data {
    display: flex;
    flex-direction: column;
    padding: .5em;
  }

  .name {
    display: flex;
    font-weight: bold;
  }
}

img {
  width: 10em;
  border-radius: 0.5em 0 0 .5em;
  height: 100%;
  object-fit: cover;
}

