@use "src/variables" as vars;

:host {
  display: flex;
  flex-direction: column;
  border-bottom: 1px solid rgba(vars.$gray, .5);
  padding: .5em;

  @media (max-width: vars.$smWidth) {
    padding: .25em;
  }
}

.role-name {
  display: flex;
  flex: 1;
  font-weight: bold;
  margin-right: .25em;
  text-align: center;
  align-items: center;
  background-color: rgba(vars.$gray, .25);
  padding: .25em;
  margin-bottom: .25em;
  border-radius: .5em;

  app-mass-service-icon {
    margin-right: .5em;
  }
}

.description {
  flex: 5;
}

.instructions {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;

  > .instruction {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    flex: 1 1 25em;
    border: 1px solid rgba(vars.$gray, .5);
    border-radius: 1em;
    margin: .5em 0;
    flex-direction: column;

    @media (min-width: vars.$smWidth) {
      flex-direction: row;
    }
  }

  .data {
    display: flex;
    flex-direction: column;
    padding: .5em;
    flex: 1;
  }

  .name {
    display: flex;
    font-weight: bold;
  }
}

img {
  max-width: 100%;
  @media (min-width: vars.$smWidth) {
    width: 10em;
    height: 100%;
  }
  border-radius: 0.5em 0 0 .5em;
  object-fit: cover;
  &.no-crop {
    object-fit: contain;
    padding: .25em .5em;
    background-color: white;
  }

}

